
html,
body {
    margin: 0px;
    height: 100%;
}


#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

}


.one,
.two,
.three,
.four {

    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    /*height: 500px;*/
    /*width: 400px;*/

}


/*
.two,
.four {
    align-self: stretch; 
}

*/

.middle {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.three {
    display: flex;
    justify-content: center;
    gap: 80px;
}


#ties {
    text-align: center;
}

.user-column,
/*.vs,*/
.comp-column {
    height: 450px;
    width: 450px;
}

.user-column,
.comp-column {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    align-items: center;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 0;
}

/*

#status-user,
#status-comp {
    margin-top: auto;
}

*/

.four {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#status-user,
#status-comp {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin-top: 70px;

}

.outcome {
    text-align: center;
}