
#page {
    display: flex;
    flex-direction: column;

}


.one,
.two,
.three,
.four {

    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    height: 500px;
    /*width: 400px;*/

}

.three {
    display: flex;
}

.user-column,
.comp-column {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}