
html,
body {
    margin: 0px;
    height: 100%;
}


#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

}


.one,
.two,
.three,
.four {

    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    /*height: 500px;*/
    /*width: 400px;*/

}


/*
.two,
.four {
    align-self: stretch; 
}

*/

.three {
    display: flex;
}

.user-column,
.comp-column {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}